#totaL-revenue{
    color: rgb(16, 9, 221);
    font-size: 20px;
}
#average-rating{
    color: rgb(16, 9, 221);
    font-size:20px;
}
#total-customers{
    color: rgb(16, 9, 221);
    font-size:20px;
}